*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;   
    background-color: cadetblue; 
}
p{
    text-align: center;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
h1{
    text-align: center;
}
.img-container{
    display: flex;
    justify-content: space-between;
}
.rest{
    width: 200px;
    margin-left: calc(50% - 100px);
}