
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;  
}
@media (max-width:1180px) {
    .container {
        flex-direction: column;
    }   
}
.nav{
    background-color: lightgray;
    width: 366px;
    height: 100%;
    flex-shrink: 0;
}
@media (max-width:1180px) {
    .nav{
        width: 100%;
        height: 100px;
    }
}
@media (max-width:730px) {
    .nav{
        width: 100%;
        height: 100px;
    }
}

.logo{
    background-image: url(../images/logo.JPG);
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (max-width:1180px){
    .logo{
        margin: 0;
        margin-top: 0;
        float: left;
        margin-left: 10PX;
        margin-bottom: 0;
    }
}
@media (max-width:730px) {
    .logo{
        float: none;
        margin-left: 0;
        position: absolute;
        top:0;
        left: calc(50% - 50px);
    }
}

.logo:hover{
    background-image:url(../images/logo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-btn-all{
    /* background-color: aqua; */
    margin: auto;
}
@media (max-width:1180px){
    .nav-btn-all{
        margin: none;
        float: right;
        height: 100%;
    }
}
@media (max-width:730px){
    .nav-btn-all{
        /* background-color: rgb(0, 255, 42); */
        /* width: 200px; */
        height: 190px;
        display: none;
        position: absolute;
        left: 10px;
        top: 90px;
    }
}

.nav-btn{
    background-color: powderblue;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    line-height: 50PX;
    text-decoration: none;
    border-radius: 30PX;
    color:black;
    font-weight: 600;
}
@media (max-width:1180px){
    .nav-btn{
        margin: 0;
        margin-bottom: 0;
        line-height: 10vh;
        padding: 8px;
        display: inline;
    }
}
@media (max-width:730px){
    .nav-btn{
        margin: auto;
        margin-bottom: 20px;
        display: block;
        line-height: 50PX;
        padding: 0;
    }
}
.nav-btn:hover{
    color: chocolate;
    text-shadow: -1px 0 0 olive, 0 1px 0 olive, 1px 0 0 olive, 0 -1px 0 olive;
    background-color: rgb(121, 55, 121);
}
a:visited{
    color: red;
}

.content-all{
    background-color: antiquewhite;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1180px){
    .content-all{
        width: 100%;
        height: calc(100% - 100px);
        padding-top: 20px;
    }
}
@media (max-width:730px){
    .content-all{
        /* width: 100%; */
        padding-top: 0;
    }
}

.content{
    /* background-color: blueviolet; */
    width: 957px;
    height: 570px;
}
@media (max-width:1350px) {
    .content{
        /* background-color: blueviolet; */
        width: 800px;
    }
}
@media (max-width:1180px) {
    .content{
        /* background-color: blueviolet; */
        width: 700px;
        height: 800px;
        margin-top:0;
    }
}
@media (max-width:730px) {
    .content{
        width: 100%;
        height: 100%;
        margin-top:0;
    }
    }

.img{
    background-color: black;
    width: calc(100% / 3);
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
@media (max-width:1350px) {
    .img{
        height:calc(50% - 5px);
    }
}
@media (max-width:1180px){
    .img{
        height:calc(50% - 5px);
        width: 100%;
    }
}
@media (max-width:730px){
    .img{
        height:calc(100% / 3);
    }
} 

.img-1{
    background-image: url(../images/left.jpg);
    width: calc(100%/3 - (20px / 3));
}
.img-1:hover{
    background-image: url(../images/222.jpg);
    border-radius: 10px;
}
@media (max-width:1350px) {
    .img-1{
        width: 100%;
        margin-bottom: 10PX;
    }
}
@media (max-width:1180px) {
    .img-1{
        width: 100%;
        margin-bottom: 10PX;
    }
}
@media (max-width:730px) {
    .img-1{
        width: 100%;
        margin-bottom: 0;
    }
}

.img-2{
    background-image: url(../images/mid.jpg);
    width: calc(100%/3 - (20px / 3));
    margin-left: 10px;
    margin-right: 10px;
}
.img-2:hover{
    transform: scale(0.95);
    opacity: 0.9;
    border-radius: 10px;
}
@media (max-width:1350px) {
    .img-2{
        width: calc(50% - 5PX);
        margin-left: 0;
    }
}
@media (max-width:1180px) {
    .img-2{
        width: calc(50% - 5PX);
        margin-left: 0;
    }
}
@media (max-width:730px) {
    .img-2{
        width: 100%;
        margin-left: 0;
    }
}

.img-3{
    background-image: url(../images/333.jpg);
    width: calc(100%/3 - (20px / 3));
}
.img-3:hover{
    background-image: url(../images/4444.jpg);
    border-radius: 10px;
}
@media (max-width:1350px) {
    .img-3{
        width: calc(50% - 5PX);
    }
}
@media (max-width:1180px) {
    .img-3{
        width: calc(50% - 5PX);
    }
}
@media (max-width:730px) {
    .img-3{
        width:100%;
    }
}
.ham-menu-btn{
    background-color: aquamarine;
    width: 80px;
    height: 80px;
    /* Label行內層級 無法呈現大小 必須改成block層級 */
    display: none;
    position: relative;
    top: 10px;
    left:10px;
}
@media (max-width:730px) {
    .ham-menu-btn {
        display: block;
    }
}


/* 空一格 後代=>後代選擇器(權重會增加) */
.ham-menu-btn .line{
    background-color: black;
    width: 80%;
    height: 10px;
    position: absolute;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: 0.06s;
}
.ham-menu-btn #line-1{
    top: 25%;
}
.ham-menu-btn #line-2{
    top: 50%;
}
.ham-menu-btn #line-3{
    top: 75%;
}
/* "+" 選相鄰的兄弟(一定只有一個而且是後面的，不會是前面的) */
#ham-menu-switch:checked+.ham-menu-btn #line-1{
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
#ham-menu-switch:checked+.ham-menu-btn #line-2{
    display: none;
}
#ham-menu-switch:checked+.ham-menu-btn #line-3{
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* "~"選相鄰的所有兄弟(可能不只有一個)中的 .nav-btn-all */
#ham-menu-switch:checked ~ .nav-btn-all{
    display: block;
}